.timetable tbody {
  pointer-events: none;
}
.timetable .current {
  background: rgb(224, 224, 224);
}
.timetable .today {
  background: rgb(245, 245, 245);
}
.timetable thead th.ant-table-cell {
  white-space: pre-line !important;
  word-break: keep-all;
  background-color: white;
}